.place__title {
    max-width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    font-style:normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    margin: 0;
    padding-right: 12px;
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 768px) / 256));
        line-height: calc(46px + (76 - 46) * ((100vw - 768px) / 256));
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: calc(32px + (42 - 32) * ((100vw - 320px) / 448));
        line-height: calc(35px + (46 - 35) * ((100vw - 320px) / 448));
        padding-right: calc(0px + (12 - 0) * ((100vw - 426px) / 342));    
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        padding-left: calc(16px + (17.875 - 16) * ((100vw - 320px) / 105));
    }
}