.gallery {
    max-width: 1184px;
    padding: 0 48px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 calc(24px + (48 - 24) * ((100vw - 768px) / 256));
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        padding: 0 calc(16px + (24 - 16) * ((100vw - 320px) / 448));
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;       
    }
}

@media screen and (max-width: 425px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 12px;   
    }
}