.header__logo {
    width: 176px;
    height: 52px;
    margin-top: 28px;
    margin-left: 48px;
    fill: none;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / 256));
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-top: calc(16px + (28 - 16) * ((100vw - 320px) / 448));
        margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / 448));
        width: calc(142px + (176 - 142) * ((100vw - 320px) / 448));
        height: calc(42px + (52 - 42) * ((100vw - 320px) / 448));
    }
}
