@import url(../header/__logo/header__logo.css);
@import url(../header/__lang-elections/header__lang-elections.css);
@import url(../header/__lang-selection/header__lang-selection.css);
@import url(../header/__lang-selection/_active/header__lang-selection_active.css);

.header {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}