.place__link {
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFF;
    max-width: 100%;
    padding-top: 12px;
}

.place__link:hover {
    opacity: 0.8;
    transition: 0.3s;
}


@media screen and (max-width: 768px) {
    .place__link {
        font-size: calc(14px + (18 - 16) * ((100vw - 426px) / 342));
        line-height: calc(18px + (22 - 18) * ((100vw - 426px) / 342));
    }
}

@media screen and (max-width: 425px) {
    .place__link {  
        padding-left: calc(16px + (17.875 - 16) * ((100vw - 320px) / 105));
        font-size: 18px;
    }
}