.footer__nav {
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 465px;
    width: 100%;
}

@media screen and (max-width: 678px) {
    .footer__nav {
        padding-top: 64px;
        padding-bottom: 48px;
    }
}