.travel__text {
    color: #FFF;
    padding-top: 8px;
    margin: 0;
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}


@media screen and (max-width: 1024px) {
    .travel__text {
        padding-left: calc(0px + (0 - 24) * ((100vw - 1024px) / 256));
    }
}


@media screen and (max-width: 768px) {
    .travel__text {
        padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / 448));
    }
}
