.place {
    margin: 0 auto;
    max-width: 984px;
    padding: 80px 48px 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
}

.place:first-of-type {
    padding-top: 92px;
}

@media screen and (max-width: 1280px) {
    .place {
        grid-template-columns: calc(440px + (460 - 440) * ((100vw - 1024px) / 256)) 1fr;
        grid-gap: 48px calc(32px + (40 - 32) * ((100vw - 1024px) / 256));
    }
    .place:first-of-type {
        padding-top: 92px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        padding-top: calc(73px + (80 - 73) * ((100vw - 768px) / 256));
        padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / 256));
        padding-right: calc(24px + (48 - 24) * ((100vw - 768px) / 256));
        grid-template-columns: calc(340px + (440 - 340) * ((100vw - 768px) / 256)) 1fr;
        grid-gap: 48px calc(28px + (32 - 28) * ((100vw - 768px) / 256));
    }
    .place:first-of-type {
        padding-top: calc(88px + (92 - 88) * ((100vw - 768px) / 256));
    }
}


@media screen and (max-width: 768px) {
    .place {
        padding-top: calc(50px + (73 - 50) * ((100vw - 320px) / 448));
        padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / 448));
        padding-right: calc(16px + (24 - 16) * ((100vw - 320px) / 448));
        grid-gap: calc(32px + (48 - 32) * ((100vw - 320px) / 448)) 28px;
        grid-template-columns: calc(196.5px + (340 - 196.5) * ((100vw - 426px) / 342)) 1fr;
    }
    .place:first-of-type {
        padding-top: calc(64px + (88 - 64) * ((100vw - 320px) / 448));
    }
}

@media screen and (max-width: 425px) {
    .place {
         grid-template-columns: 1fr;
         padding-left: 0;
         padding-right: 0;
         padding-top: 50px;
    }
    .place:first-of-type {
        padding-top: 64px;
    }
}